.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #8aacd6;
  padding: 10px 80px;
  box-shadow: 0 5px 15px rgba(103, 214, 12, 0.06);
}


#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#navbar li{
  list-style: none;
  padding: 0 25px;
  position: relative;
}

.nav-links{
  width: 50px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight:  600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


.embed-c{
  border-radius: 4px;
  height: 880px;
  max-height: 100%;
  max-width: 100%;
  width: 1600px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  object-fit: contain;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
